.main {
  font-family: sans-serif;
  background-color: silver;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 14px;
  max-width: 400px;
}

h2 {
  border-top: 1px solid gray;
}

.loader {
  background-color:#0d0c0c;
  color: white;
  padding: 2em;
  text-align: center;
  border-radius: 4px;
  display: none;
}

.loader--visible {
  display: block;
}

.elemlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100vw;
}

.anelem {
  max-width: 400px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.anelem--show {
  display: block;
}
.anelem--hide {
  display: none;
}
.screenshots {
  position: relative;
}

.screenshot {
  max-width: 400px;
}

.screenshot.test {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
}

.screenshot.test.regressed {
  animation: pulsediff 5s linear infinite;
  mix-blend-mode: difference;
}

@keyframes pulsediff {
  0% { opacity: 0.1 }
  40% { opacity: 1 }
  60% { opacity: 1 }
  100% { opacity: 0.1 }
}
